// .register-form {
//   display: flex;
//   flex-direction: column;
//   align-items: stretch;
//   gap: 16px;
// }

// .register-form-none {
//   display: none;
// }

.registerForm {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.registerForm {
  transform: rotateY(0deg);
}