  .products-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 45px;
    padding-top: 140px;
    padding-bottom: 30px;
    justify-content: space-between;
    width: 100%;
  }

  .btn-favorite {
    margin: 0 auto;
    width: fit-content;
  }