  @use '../../styles/mixins';

  .search-detailed,
  .search-detailed--active {
    @include mixins.absoluteCenterHorizontal;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: fit-content;
    height: 0;
    overflow: hidden;
    opacity: 0;
    background-color: #bf22e1;
    transition: height 0.3s ease-in-out;

    &__price {
      display: flex;
      flex-direction: column;
    }

    &__title {
      margin-bottom: 10px;
      text-align: center;
      font-size: 20px;
      color: #fff;
    }

    &__label {
      margin-bottom: 7px;
    }

    &__title--label {
      margin-right: 7px;
      font-size: 18px;
      color: #fff;
    }

    &__input {
      width: 100%;
      padding: 5px;
    }

    .btn-closed--search-detailed {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }

  .search-detailed--active {
    height: fit-content;
    opacity: 1;
  }